.menuContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-image: url("a21.jpg");
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 130px;
}
