.card {
  width: 900px;
  height: 630px;

  background-color: #d1d1d1;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgb(121, 121, 121);
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px rgb(94, 93, 93);
}

.top {
  display: flex;
  align-items: center;
  padding-left: 26px;
}

.circle {
  padding: 0 5px;
}

.circle2 {
  display: inline-block;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 3px;
  border-radius: 100px;
}

.red {
  background-color: rgb(30, 50, 100);
}

.yellow {
  background-color: #ffa600;
}

.green {
  background-color: rgb(0, 130, 80);
}

.header {
  margin: 5px;
  margin-top: -15px;
  border-radius: 5px;
}

#title2 {
  color: rgb(0, 0, 0);
  padding-left: 90px;
  font-size: 100px;
  font-family: mic;
}

.code-container {
  text-align: center;
}
#code {
  width: 820px;
  height: 480px;
  resize: none;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  border: none;
  color: rgb(21, 0, 255);
  padding: 10px;
  margin-top: -22px;
}
#code:focus {
  outline: none !important;
}
